$breakout: #2d3e50;
$jam-sesh: #bf1e83;
$nacho-mama: #f57e27;
$ready-set: #b9db3b;
$sea-suds: #18988a;
$sea-suds-dark: #108275;
$happy-hour: #5eccf3;
$grape-expecations: #452ca9;
$user-testing: #425b76;
$cat-crush: #7c98b6;
$winter-is-coming: #dfe3eb;
$when-doves-cry: #f5f8fa;

$white: #fff;
$black: #000;
$transparent: #f000;
